In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("/Users/goutam/Documents/Documents – Goutam’s MacBook Pro/Python_Edvancer_Notes/Python_Notes/Projects/Deep_Learning/Multiclass_Multilabel_Project1/stacksample"))

# Plotting Libs
import matplotlib.pyplot as plt
import matplotlib.cm as cm
# magic function
%matplotlib inline

import collections

['Answers.csv', 'Tags.csv', 'Questions.csv', 'question_clean.csv']

In [2]:
df_tags = pd.read_csv('/Users/goutam/Documents/Documents – Goutam’s MacBook Pro/Python_Edvancer_Notes/Python_Notes/Projects/Deep_Learning/Multiclass_Multilabel_Project1/stacksample/Tags.csv', encoding='iso-8859-1')

In [ ]:
def plot_tags(tagCount):
    
    x,y = zip(*tagCount)

    colormap = plt.cm.gist_ncar #nipy_spectral, Set1,Paired  
    colors = [colormap(i) for i in np.linspace(0, 0.8,50)]   

    area = [i/4000 for i in list(y)]   # 0 to 15 point radiuses
    plt.figure(figsize=(9,8))
    plt.ylabel("Number of question associations")
    for i in range(len(y)):
        plt.plot(i,y[i], marker='o', linestyle='',ms=area[i],label=x[i])

    plt.legend(numpoints=1)
    plt.show()

In [ ]:
tagCount =  collections.Counter(list(df_tags['Tag'])).most_common(10)
print(tagCount)
plot_tags(tagCount)

In [5]:
top10=['javascript','java','c#','php','android','jquery','python','html','c++','ios']

In [6]:
tag_top10= df_tags[df_tags.Tag.isin(top10)]
print (tag_top10.shape)
tag_top10.head()

(826739, 2)

      Id  Tag
14   260   c#
18   330  c++
28   650   c#
35   930   c#
39  1010   c#

In [7]:
tag_top10['Id'].value_counts().head(10)

30289880    5
4009250     5
35318730    5
30991580    5
23267320    5
11648170    5
30798790    5
23484760    5
35283570    5
31085960    5
Name: Id, dtype: int64

In [8]:
tag_top10.head()

      Id  Tag
14   260   c#
18   330  c++
28   650   c#
35   930   c#
39  1010   c#

In [9]:
def add_tags(question_id):
    return tag_top10[tag_top10['Id'] == question_id['Id']].Tag.values

top10 = tag_top10.apply(add_tags, axis=1)

In [10]:
len(top10),tag_top10.shape

(826739, (826739, 2))

In [11]:
tag_top10=pd.concat([tag_top10, top10.rename('Tags')], axis=1)
tag_top10.head()

      Id  Tag   Tags
14   260   c#   [c#]
18   330  c++  [c++]
28   650   c#   [c#]
35   930   c#   [c#]
39  1010   c#   [c#]

In [12]:
tag_top10.drop(["Tag"], axis=1, inplace=True)
tag_top10.shape

(826739, 2)

In [13]:
top10_tags=tag_top10.loc[tag_top10.astype(str).drop_duplicates().index]

In [14]:
ques = pd.read_csv('/Users/goutam/Documents/Documents – Goutam’s MacBook Pro/Python_Edvancer_Notes/Python_Notes/Projects/Deep_Learning/Multiclass_Multilabel_Project1/stacksample/question_clean.csv', encoding='iso-8859-1')
ques.head()

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,I've written a database generation script in S...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,Are there any really good tutorials explaining...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,Has anyone got experience creating SQL-based A...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,This is something I've pseudo-solved many time...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,I have a little game written in C#. It uses a ...

In [15]:
total=pd.merge(ques, top10_tags, on='Id')
print(total.shape)
total.head()

(706336, 8)

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body,Tags
0,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,I have a little game written in C#. It uses a ...,[c#]
1,330,63.0,2008-08-02T02:51:36Z,NaN,29,Should I use nested classes in this case?,I am working on a collection of classes used f...,[c++]
2,650,143.0,2008-08-03T11:12:52Z,NaN,79,Automatically update version number,I would like the version property of my applic...,[c#]
3,930,245.0,2008-08-04T00:47:25Z,NaN,28,How do I connect to a database and loop over a...,What's the simplest way to connect and query a...,[c#]
4,1010,67.0,2008-08-04T03:59:42Z,NaN,14,"How to get the value of built, encoded ViewState?",I need to grab the base64-encoded representati...,[c#]

In [16]:

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MultiLabelBinarizer
from nltk import word_tokenize
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence


from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding, BatchNormalization, GRU ,concatenate
from keras.models import Model

In [17]:
multilabel_binarizer = MultiLabelBinarizer()
multilabel_binarizer.fit(total.Tags)
labels = multilabel_binarizer.classes_
labels

array(['android', 'c#', 'c++', 'html', 'ios', 'java', 'javascript',
       'jquery', 'php', 'python'], dtype=object)

In [18]:
train,test=train_test_split(total[:550000],test_size=0.25,random_state=24)

In [19]:
train.shape,test.shape

((412500, 8), (137500, 8))

In [20]:
X_train_t=train['Title']
X_train_b=train['Body']
y_train=multilabel_binarizer.transform(train['Tags'])
X_test_t=test['Title']
X_test_b=test['Body']
y_test=multilabel_binarizer.transform(test['Tags'])

In [21]:
sent_lens_t=[]
for sent in train['Title']:
    sent_lens_t.append(len(word_tokenize(sent)))
max(sent_lens_t)

60

In [22]:
np.quantile(sent_lens_t,0.97)

18.0

In [23]:
max_len_t = 18
tok = Tokenizer(char_level=False,split=' ')
tok.fit_on_texts(X_train_t)
sequences_train_t = tok.texts_to_sequences(X_train_t)

In [24]:
vocab_len_t=len(tok.index_word.keys())
vocab_len_t

68969

In [25]:
sequences_matrix_train_t = sequence.pad_sequences(sequences_train_t,maxlen=max_len_t)
sequences_matrix_train_t

array([[    0,     0,     0, ...,     1,   957,   197],
       [    0,     0,     0, ...,  9081,    45,   533],
       [    0,     0,     0, ...,   147,     8,   230],
       ...,
       [    0,     0,     0, ...,    10,    71,  2985],
       [    0,     0,     0, ...,     2,    18,    75],
       [    0,     0,     0, ..., 11009,   809,   267]], dtype=int32)

In [26]:
sequences_test_t = tok.texts_to_sequences(X_test_t)
sequences_matrix_test_t = sequence.pad_sequences(sequences_test_t,maxlen=max_len_t)

In [27]:
sequences_matrix_train_t.shape,sequences_matrix_test_t.shape,y_train.shape,y_test.shape

((412500, 18), (137500, 18), (412500, 10), (137500, 10))

In [28]:
sent_lens_b=[]
for sent in train['Body']:
    sent_lens_b.append(len(word_tokenize(sent)))
max(sent_lens_b)

20868

In [29]:
np.quantile(sent_lens_b,0.90)

578.0

In [30]:
max_len_b = 600
tok = Tokenizer(char_level=False,split=' ')
tok.fit_on_texts(X_train_b)
sequences_train_b = tok.texts_to_sequences(X_train_b)

In [31]:
vocab_len_b =len(tok.index_word.keys())
vocab_len_b

1292018

In [32]:
sequences_matrix_train_b = sequence.pad_sequences(sequences_train_b,maxlen=max_len_b)
sequences_matrix_train_b

array([[   0,    0,    0, ...,   51, 2082,   91],
       [   0,    0,    0, ..., 1408,  203,  825],
       [   0,    0,    0, ...,   34,   51,   83],
       ...,
       [   0,    0,    0, ...,   20,   68,  687],
       [   0,    0,    0, ...,  187,   58,   10],
       [   0,    0,    0, ...,  194,  197,   10]], dtype=int32)

In [33]:
sequences_test_b = tok.texts_to_sequences(X_test_b)
sequences_matrix_test_b = sequence.pad_sequences(sequences_test_b,maxlen=max_len_b)

In [34]:
sequences_matrix_train_t.shape,sequences_matrix_train_b.shape,y_train.shape

((412500, 18), (412500, 600), (412500, 10))

In [35]:
sequences_matrix_test_t.shape,sequences_matrix_test_b.shape,y_test.shape

((137500, 18), (137500, 600), (137500, 10))

In [36]:
def RNN():
    # Title Only
    title_input = Input(name='title_input',shape=[max_len_t])
    title_Embed = Embedding(vocab_len_t+1,2000,input_length=max_len_t,mask_zero=True,name='title_Embed')(title_input)
    gru_out_t = GRU(300)(title_Embed)
    # auxiliary output to tune GRU weights smoothly 
    auxiliary_output = Dense(10, activation='sigmoid', name='aux_output')(gru_out_t)   
    
    # Body Only
    body_input = Input(name='body_input',shape=[max_len_b]) 
    body_Embed = Embedding(vocab_len_b+1,170,input_length=max_len_b,mask_zero=True,name='body_Embed')(body_input)
    gru_out_b = GRU(200)(body_Embed)
    
    # combined with GRU output
    com = concatenate([gru_out_t, gru_out_b])
    
    # now the combined data is being fed to dense layers
    dense1 = Dense(400,activation='relu')(com)
    dp1 = Dropout(0.5)(dense1)
    bn = BatchNormalization()(dp1) 
    dense2 = Dense(150,activation='relu')(bn)
    
    main_output = Dense(10, activation='sigmoid', name='main_output')(dense2)
    
    model = Model(inputs=[title_input, body_input],outputs=[main_output, auxiliary_output])
    return model

In [37]:
model = RNN()
model.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 title_input (InputLayer)       [(None, 18)]         0           []

 body_input (InputLayer)        [(None, 600)]        0           []

 title_Embed (Embedding)        (None, 18, 2000)     137940000   ['title_input[0][0]']

 body_Embed (Embedding)         (None, 600, 170)     219643230   ['body_input[0][0]']

 gru (GRU)                      (None, 300)          2071800     ['title_Embed[0][0]']

 gru_1 (GRU)                    (None, 200)          223200      ['body_Embed[0][0]']

 concatenate (Concatenate)      (None, 500)          0           ['gru[0][0]',
                                                                  'gru_1[0][0]']

 dense (Dense)                  (None, 400)          200400      ['concatenate[0][0]']

 dropout (Dropout)              (None, 400)          0           ['dense[0][0]']

 batch_normalization (BatchNorm  (None, 400)         1600        ['dropout[0][0]']
 alization)

 dense_1 (Dense)                (None, 150)          60150       ['batch_normalization[0][0]']

 main_output (Dense)            (None, 10)           1510        ['dense_1[0][0]']

 aux_output (Dense)             (None, 10)           3010        ['gru[0][0]']

==================================================================================================
Total params: 360,144,900
Trainable params: 360,144,100
Non-trainable params: 800
__________________________________________________________________________________________________

In [38]:
model.compile(optimizer='adam',loss={'main_output': 'categorical_crossentropy', 'aux_output': 'categorical_crossentropy'},
              metrics=['accuracy'])

In [ ]:
results=model.fit({'title_input': sequences_matrix_train_t, 'body_input': sequences_matrix_train_b},
          {'main_output': y_train, 'aux_output': y_train},
          validation_data=[{'title_input': sequences_matrix_test_t, 'body_input': sequences_matrix_test_b},
          {'main_output': y_test, 'aux_output': y_test}],
          epochs=5, batch_size=800)

In [ ]:
(predicted_main, predicted_aux)=model.predict({'title_input': sequences_matrix_test_t, 'body_input': sequences_matrix_test_b},verbose=1)

In [ ]:
from sklearn.metrics import classification_report,f1_score

In [ ]:
print(f1_score(y_test,predicted_main>.55,average='samples'))

In [ ]:
print(classification_report(y_test,predicted_main>.55))

In [ ]:
test.iloc[24]

In [ ]:
predicted_main[24].round(decimals = 2)

In [ ]:
labels

In [ ]:
model.save('/Users/goutam/Documents/Documents – Goutam’s MacBook Pro/Python_Edvancer_Notes/Python_Notes/Projects/Deep_Learning/Multiclass_Multilabel_Project1/stacksample/stackoverflow_tags.h5')